{% extends "base.html" %}

{% block content %}
<form method="post" class="form-inline" action="/search" method="post">
    <div class="form-group col-4">
        <label for="search1">Search phrase 1</label>
        <input name="search" id="search1"i class="form-control" required>
    </div>

    <div class="form-group col-4">
        <label for="search1">Search phrase 2</label>
        <input name="search" id="search2"i class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
